/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */

// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #171717;

$mainColor: #fff;
$headingColor: #fff;

$mainFontSize: 42px;
$mainFont: "Karla", sans-serif;
$headingFont: "Karla", sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: normal;
$headingFontWeight: 600;
$linkColor: #fff;
$linkColorHover: lighten($linkColor, 15%);
$selectionBackgroundColor: lighten($linkColor, 25%);
$imageBorderSize: 0px;

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1em;

section.has-light-background {
  &,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #222;
  }
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    letter-spacing: -2px;
  }

  .team {
    figure {
      display: inline-flex;
      flex-direction: column;
      font-size: 24px;
    }

    img {
      width: 200px;
      border-radius: 50%;
      border-width: 2px;
    }
  }

  .host {
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;

    &--ovo {
      background-color: transparent;
      box-shadow: none;
    }

    &--sergio {
      width: 200px;
    }
  }

  .host-wrapper {
    display: inline-block;
    vertical-align: top;
    font-size: 24px;
  }

  .events h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .logos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    grid-gap: 10px;

    .logo {
      background-color: #fff;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;

      img {
        display: block;
        margin: 0;
        box-shadow: none;
      }
    }
  }

  hr {
    border: 1px solid white;
  }

  em {
    color: #00a9c5;
    font-style: normal;
  }

  .logo {
    box-shadow: none;
    width: 650px;
  }
}

.controls button {
  display: none;
}
